ul li.checked {
    background:#888;
    color: #fff;
    text-decoration: line-through;
}
.list-group-item {
    display: flex;
    justify-content: space-between;
    
}

.close {
    padding-right: 6px;
}
#deleteAll {
    position:absolute;
    right: 7px;
    top: 3px;
   
}

